body{
  background-color: rgb(1, 1, 59);
}

.Resultado{
min-width: 100px;
margin: 25px;
height: 100px;
color: white;
border: 8px solid white;
padding: 10px;
}
.Contenedor-Principal{
display: flex;
align-items: center;
justify-content: center;
}
.Estados{
  display: flex;
  justify-content: center;
  align-items: center;
}

